body {
    padding-top: 90px;
}

#mainImg {
    width: 1250px;
    margin-left: 130px;
    position: relative;
}

#mainImg_content {
    background-color: white;
    border: 1px solid black;
    height: 180px;
    width: 376px;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 34.5%;
    top: 33.5%;
}

#mainImg_content h1 {
    padding-top: 5px;
    letter-spacing: 4px;
}

#para_content {
    margin-left: 455px;
    height: 420px;
    width: 620px;
    text-align: center;
    display: flex;
    margin-bottom: -392px;
}

#para_content p {
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 15px;
    opacity: 0.9;
}