/* main content */
.body-content {
    margin-top: 9rem;
    width: 118.5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#mainImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainImg img {
    width: 118.5rem;
    height: 56rem;
}

#mainImg_content {
    background-color: white;
    border: 1px solid black;
    height: 180px;
    width: 376px;
    text-align: center;
    display: inline-block;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainImg_content h1 {
    padding-top: 5px;
    letter-spacing: 4px;
    font-size: 3rem;
    font-weight: 450;
}

#mainImg_content h2 {
    padding-top: 5px;
    font-size: 1.6rem;
    font-weight: lighter;
}

#para_content {

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 60rem;
    gap: 2.5rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;

}

#para_content p {
    font-size: 1.5rem;
    opacity: 0.7;
}
/* ---------- */